:root {
  --mainBrown: #723201;
  --mainYellow: rgb(191, 157, 6);
  --mainGrey: #a5a2a2;
  --mainWhite: #fff;
  --mainDark: #333;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
  text-align: center;
  color: var(--mainWhite);
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.logo {
  width: 130px;
}

.logo-landing {
  width: 320px;
  align-content: center;
  display: block;
  margin: 40px auto;
}

.icon {
  width: 300px;
}
