:root {
  --mainBrown: #8d3f03;
  --mainYellow: #f0c70f;
  --mainGrey: #a5a2a2;
  --mainWhite: #fff;
  --mainDark: #333;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
  text-align: center;
  color: var(--mainWhite);
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.logo {
  width: 130px;
}

.logo-landing {
  width: 310px;
  align-content: center;
  display: block;
  margin: auto;
}

.heading-sub-heading {
  margin-top: 40px !important;
}

.icon {
  width: 300px;
}

.default-background {
  background-repeat: repeat;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.about-background {
  background-repeat: repeat;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.btn-yellow {
  color: var(--mainYellow) !important;
  border-color: var(--mainYellow) !important;
}

.btn-yellow:hover {
  background: var(--mainYellow) !important;
  color: var(--mainBrown) !important;
}

h1,
.title {
  color: var(--mainDark) !important;
}

.footer {
  background: var(--mainBrown);
}
